<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button id="btn" onclick="handleClick">a</button>
    <table id="table"></table>
    <list ></list>
    <form id="form" action=""></form>

    <script>
      const handleClick = () => {
        document.getElementById('table').style.display = 'none'
        document.getElementById('form').style.display = 'auto'
      };
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
      const handleClick = () => {};
    </script>
  </body>
</html>


